<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" th:href="@{/css/c/create-member.css}">
</head>

<body>
        <form th:action="@{/}" th:object="${customer}" method="post">
            <div class="create-member" id="createMember">
                <u class="create-member-header">Register</u>
                <div class="name">
                    <p class="topic">Full name:</p>
                    <input type="text" th:field="*{customerName}" required>
                    <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="alert-danger"></p>
                </div>
                <div class="phone">
                    <p class="topic">Phone Number:</p>
                    <input type="text" th:field="*{phoneNumber}" required minlength="10" maxlength="10">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="alert-danger"></p>
                </div>
                <div class="address">
                    <p class="topic">Address:</p>
                    <textarea name="text" wrap="soft" maxlength="400" th:field="*{address}">
                    </textarea>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert-danger"></p>
                </div>
                <div class="line">
                    <p class="topic">Line ID:</p>
                    <input type="text" th:field="*{lineID}">
                    <p th:if="${#fields.hasErrors('lineID')}" th:errors="*{lineID}" class="alert-danger"></p>
                </div>
                <div class="decision-button">
                    <button type="submit" name="action" value="submit">Create</button>
                </div>
            </div>
        </form>
</body>
</html>