<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>New-order</title>
    <link rel="stylesheet" th:href="@{/css/new_order/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/general.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/head.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/display.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/display-header.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/display-body.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/item.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/accept-notify.css}">
    <link rel="stylesheet" th:href="@{/css/new_order/reject-notify.css}">

    <!--pop up-->
    <link rel="stylesheet" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity=
                  "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity=
                    "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous">
    </script>
    <script src=
                    "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity=
                    "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>
    <script src=
                    "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity=
                    "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>

  </head>
  <body>
    <!-- แถบเครื่องมือด้านซ้ายมือ -->
    <div class="sidebar">
      <div class="customer-link">
        <a th:href="@{/}">
          <button class="customer-link-button">
            <img th:src="@{/icon/new_order/customer.png}">
            <span class="tooltip">Customer</span>
          </button>
        </a>
      </div>
      <div class="order-link">
        <a th:href="@{/new-order}">
          <button class="order-link-button">
            <img th:src="@{/icon/new_order/order.png}">
            <span class="tooltip">Order</span>
          </button>
        </a>
      </div>
      <div class="about-link">
        <button class="about-link-button">
          <img th:src="@{/icon/new_order/info.png}">
          <span class="tooltip">About</span>
        </button>
      </div>
    </div>

    <!-- หน้าต่างตรงกลาง -->
    <div class="main">
      <!-- แท็บด้านบนสองแท็บ -->
      <div class="tab">
        <a th:href="@{/new-order}">
         <button class="tab-new">New</button>
        </a>
        <a th:href="@{/accepted-order}">
          <button class="tab-accepted">
            Accepted
          </button>
        </a>
      </div>
      <!-- แท็บตรงกลาง -->
      <div class="display">
        <!-- แถบ sort -->
        <div class="display-header">
          <p>Sort by</p>
          <select name="sort" id="" class="sort-selection">
            <option value="option1">option1</option>
            <option value="option1">option2</option>
          </select>
        </div>
        <!-- ส่วนแสดงรายการสั่งซื้อสินค้า -->
        <div class="display-body">
          <div class="item" th:each="order: ${orders}">
            <div class="order-id" th:text="${order.orderID}"/>
            <div class="customer-name" th:text="${order.customer.customerName}"/>
            <!-- detail ต่อ 1 รายการ -->
            <div class="order-detail">
              <!-- สินค้าที่เลือกซื้อ -->
              <div class="order-item-green" th:each="orderDetail: ${order.getOrderDetails()}">
                <p class="product-id" >PID: <span th:text="${orderDetail.product.productID}"/></p>
                <p class="product-name" th:text="${orderDetail.product.productName}" />
                <p class="product-quantity" th:text="${orderDetail.orderDetailQuantity}">
              </div>
              <!--div class="order-item-yellow">
                <p class="product-id">PID: 002</p>
                <p class="product-name">Banana</p>
                <p class="product-quantity">10</p>
              </div>
              <div class="order-item-red">
                <p class="product-id">PID: 003</p>
                <p class="product-name">Egg</p>
                <p class="product-quantity">5</p>
              </div-->
            </div>
            <form th:action="@{/new-order}" th:object="${acceptOrder}" method="post">
                <div class="order-container">
                  <a href="#">
                    <button class="accept-order-button" id="acceptBtn" name="orderID" value="2" th:value="${order.orderID}">
                      Accept
                    </button>
                  </a>
                  <a href="#">
                    <button class="reject-order-button">
                      Reject
                    </button>
                  </a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- accept notification -->
    <div class="accept-notify">
      <div class="question">
        <p>Order system</p>
        <p>Do you want to <u>accept</u> this order?</p>
      </div>
      <div class="decision-button">
        <button class="accept-button">Accept</button>
        <button class="cancel-accept-button">Cancel</button>
      </div>
    </div>

    <script>
      /*
      var acceptBtn = document.querySelectorAll(".accept-order-button");
      var acceptPopup = document.querySelector(".accept-notify");
      var closeacceptBtn = document.querySelectorAll(".cancel-accept-button");

      acceptBtn.forEach(elem => {
        elem.addEventListener("click", event => openModal());
      });

      closeacceptBtn.forEach(elem => {
        elem.addEventListener("click", event => closeModal());
      });

      function openModal(){
        acceptPopup.style.visibility = "visible";
      }

      function closeModal(){
        acceptPopup.style.visibility = "hidden";
      }

       */
    </script>


    <!-- reject notification -->
    <div class="reject-notify">
      <div class="question">
        <p>Do you want to <u>reject</u> this order?</p>
      </div>
      <div class="decision-button">
        <button class="reject-button">Reject</button>
        <button class="cancel-button">Cancel</button>
      </div>
    </div>
  </body>
</html>