.create-order-select {
  display: grid;
  grid-template-rows: 300px;
  position: fixed;
  background: white;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 100;
  padding: 90px 10px 10px 15px;
  
  border-radius: 10px;
  border: solid rgb(203, 203, 203);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
  
  visibility: hidden;
}

/* basket-button */
.basket-button-container {
  display: flex;
  position: fixed;
  top: inherit;
  left: inherit;
  z-index: 500;
}

.basket-button {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

.basket-button .basket-icon:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.basket-button .basket-icon {
  width: 45px;
  border-radius: 20px;
}

.basket-button .tooltip {
  position: absolute;
  cursor: none;
  white-space: nowrap;
  pointer-events: none;

  font-size: 12px;
  bottom: -20px;
  opacity: 0;
  transition: opacity .2s;

  color: white;
  background-color: rgba(121, 121, 121, 0.624);
  border-radius: 5px;

  padding: 2px 5px 2px 5px;
}

.basket-button:hover .tooltip {
  opacity: 1;
}

/* cancel button */
.close-button-container {
  display: flex;
  right: inherit;
  top: inherit;
  margin-top: 5px;
  margin-right: 8px;
  position: fixed;
  z-index: 150;
}

.close-button {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-button:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.close-icon {
  margin: 0;
  width: 30px;
}

/* close button tooltip */
.close-button .tooltip {
  position: absolute;
  cursor: none;
  white-space: nowrap;
  pointer-events: none;

  font-size: 12px;
  bottom: -20px;
  opacity: 0;
  transition: opacity .2s;

  color: white;
  background-color: rgba(121, 121, 121, 0.624);
  border-radius: 5px;

  padding: 2px 5px 2px 5px;
}

.close-button:hover .tooltip {
  opacity: 1;
}

/* header */
.create-order-select .create-order-header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: inherit;
  right: inherit;
  left: inherit;
  
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  border: solid rgb(203, 203, 203);
  background-color: white;
  font-size: 20px;
  margin-bottom: 30px;
  z-index: 149;
}

/* item */
.create-order-select .create-item-container {
  height: 740px;
  padding-bottom: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  overflow: auto;
}


.create-order-select .create-item-container .create-item {
  display: grid;
  height: 250px;
  background-color: #f7ede4;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
}

.create-order-select .create-item-container .create-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.create-item .item-picture-container .item-picture {
  width: 125px;
  border-radius: 10px;;
}

.item-name {
  text-align: center;
  margin-bottom: 20px;
}

.item-quantity-container {
  display: grid;
  grid-template-columns: 80px 80px;
  height: 30px;
  column-gap: 10px;
  justify-content: center;
}
