.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 650px;
  background-color: none;
}

.tab {
  display: grid;
  grid-template-columns: 80px 80px;
  column-gap: 1px;
  align-items: end;
  border: none;
}

.tab button {
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.tab-list {
  background-color: #FFDBA4;
}

.tab-detail {
  background-color: #fde6c4;
}

.display {
  display: grid;
  grid-template-rows: 50px 1fr;
  border: none;
  background-color: #FFDBA4;
  border-radius: 0px 10px 10px 10px;
  overflow: auto;
}